@model IEnumerable<CategoryViewModel>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Categories</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Location Name</th>
                            <th>Actions</th>
                            <th>
                                <a asp-area="Admin" asp-action="Add" asp-controller="Category" class="btn btn-block btn-outline-success btn-xs">Add new category</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.CategoryName</td>
                                <td>
                                    <a asp-area="Admin" asp-action="Edit" asp-controller="Category" asp-route-id="@category.Id" class="btn btn-block btn-outline-info btn-xs">Edit </a>
                                    <form asp-area="Admin" asp-controller="Category" asp-action="Remove" asp-route-id="@category.Id" method="post">
                                        <input class="btn btn-block btn-outline-danger btn-xs" type="submit" value="Remove" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






