@using Microsoft.AspNetCore.Identity
@using RentalCarManagementSystem.Infrastructure.Models.Identity



@if (User.Identity?.IsAuthenticated ?? false)
{
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@User.Identity?.Name</a>
        </div>
        <div class="info">
            <a asp-area="Admin" asp-controller="Profile" asp-action="MyProfile" class="btn btn-info">My Profile</a>
        </div>
    </div>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="UserManage">
                    <i class="nav-icon far fa-user"></i>
                    <p>
                        User Menu
                    </p>
                </a>
            </li>
        </ul>
    </nav>

}