@using RentalCarManagementSystem.Core.Models.Booking
@model AllBookingsQueryModel

@{
    ViewBag.Title = "All Bookings";
}



<form method="get">
    <div class="row">
        <div class="form-group">
            <label asp-for="@Model.SearchTerm">Choose a date:</label>
            <div class="input-group date" id="issuedate" data-target-input="nearest">
                <input asp-for="@Model.SearchTerm" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
            </div>
            <span asp-validation-for="SearchTerm" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>

@if (!Model.Bookings.Any())
{
    <h2 class="text-center">No bookings found for this date!</h2>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Bookings</h3>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Pick up Date</th>
                            <th>Drop off Date</th>
                            <th>Total Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model.Bookings)
                        {
                            <partial name="_BookingPartialAll" model="@booking" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>